body {
    background-color: #A8DADC;
    padding: 2%
}

.meu-nome {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

#fotoperfil {
    width: 90px;
    float: left;
    height: 100px;
    padding: 10px;
    background-color: #1D3557;
    border-radius: 60%;
}

.sobre {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    position: absolute;
    left: 140px;
    top: 10%
}

.image-container {
    height: 120px;
    position: relative;
}

#habilidades li:nth-child(odd) {
    text-decoration: underline;
}

h3 {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

#habilidades li {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

.english {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}



